/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --color-primary:#9FB3DF;
    --color-secondary:#BDDDE4;
    --hover-color:#FAF1E6;
    --shadow-color:#FFB8E0;

  }
  
  [data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #f0f0f0;
    --color-primary:#2E236C;
    --color-secondary:#433D8B;
    --hover-color:#7A1CAC;
    --shadow-color:#402E7A;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    transition: background-color 0.3s, color 0.3s;
  }

  h1 { font-size: 3rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.625rem; }
  h4 { font-size: 1.25rem; }
  h5 { font-size: 1rem; }
  h6, p, a { font-size: 1rem; }
  
  a {
    color:var(--text-color);
   
  }

 a:hover, button:hover{
  color: var(--hover-color);
  }

button{
  background: var(--color-primary);
}

.icon{
  stroke: var(--text-color);
}

.icon:hover{
  stroke: var(--hover-color);
  
}

.charts__container{
  
}


